* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Open-sans', sans-serif;
    max-width: var(--page-width);
    overflow-x: hidden;
}

:root {
    --page-width: 1500px;
    --content-width: 80%;
    --primary-clr: #768DAC;
    --secondary-clr: #435693;
    --background-clr: #E6DEDE;
    --ln: 1px solid #ccc;

}

.logo {
    width: 60%;
    height: 60%
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    color: #424242;
    position: sticky;
    background-color: #F9f9f9;
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);
}

h2 {
    font-family: 'open-sans', sans-serif;
    font-weight: bold;
    color: var(--secondary-clr);
    letter-spacing: 3px;
    padding-bottom: 1rem;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;

}

.nav-links ul li a {
    color: #424242;
    text-decoration: none;
    font-size: 14px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #768DAC;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.enrol-btn {
    color: white;
    font-weight: bold;
    background-color: #768DAC;
    border: #768DAC;
    box-shadow: none;
    padding: 1rem 2rem;
    transition: 300ms;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #424242;
}

.enrol-btn:hover {
    background-color: #C2CEDE;
    transform: translateY(-2px);
}

.header {
    min-height: 70vh;
    width: 100%;
    background-image: url(./IMAGES/HeaderIMG.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    --page-width: 1500px;
}

.headertext {
    color: white;
    display: flex;
    justify-content: baseline;
    align-items:flex-end;
    font-family: 'Loved by the King', cursive;
    font-size: 100px;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
}

.about {
    max-width: var(--content-width);
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about p {
    font-size: 22;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.call-out {
    display: flex;
    padding-top: 2rem;
    padding-left: 2rem;
    align-items: center;
    max-width: var(--content-width);
  }
  
.call-out > .body {
    background-color: var(--background-clr);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
  }
  
.call-out > .body > .pic {
    min-width: 280px;
    min-height: 280px;
    background-color: white;
    border: var(--background-clr);
    border-radius: 50%;
    transform: scale(1.5) translateX(20%);
    background-image: url(./IMAGES/founderimage.png);
    background-size: cover;
    max-width: var(--content-width);
  }

.foundername {
    font-family: 'Loved by the king', cursive;
    font-size: 30px;
}

.about .enrol-btn {
    margin-top: 2rem;
}

.camps {
    background-color: var(--background-clr);
    height: 650px;
}


.campscontent {
    max-width: var(--content-width);
    margin: 0 auto;
    padding-top: 4rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: var(--content-width);
    margin: 0 auto;
    gap: 1rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: white;
    height: calc(100vh/2.1);
    text-align: center;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-2px);
  }

.cardtext {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#435693;
    font-size: 25px;
    font-weight: bold;
    padding-top: 1rem;
    letter-spacing: 5px;
}

.cardsubtext {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#435693;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.outcomes {
    max-width: var(--content-width);
    margin: 0 auto;
    padding-top: 4rem;
}

.outcomes .row {
    max-width: var(--content-width);

}

.outcomes .subtext {
    padding-top: 1rem;
}

.outcomes img {
    margin-top: 1rem;
}

.panel img {
    max-width: 380px;
}

h3 {
    color: var(--secondary-clr);
}

.panel p {
    padding: 0.2rem;
    margin-left: 1rem;
}

.speech {
    background-color: #E6DEDE;
    margin-top: 4rem;
}

.speech h2 {
    max-width: var(--content-width);
    margin: 0 auto;
    padding-top: 4rem;
}

section.carousel {
    background-color: #E6DEDE;
    height: 100px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    max-width: 100vw;
    min-width: 100vw;
    gap: 3.5rem;
    position: relative;
    padding: 8rem;
    overflow-y: hidden;
  }
  
  section.carousel > h3 {
    position: absolute;
    top: 5rem;
    left: 8rem;
    
  }

  .testimonial {
    height: 156px;
    min-width: 400px;
    border: var(--ln);
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimonial > .square {
    background-color: white;
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: -2%;
    left: 5%;
    transform: rotate(45deg);
  }


  .testimonial p {
    font-size: 24px;
    font-weight: bold;
  }

  .testquote {
    font-family: 'Loved by the king', cursive;
    font-size: 18px;
  }
